<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>列表页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/index.css" rel="stylesheet">
</head>
<body>
<header>
  <div class="logo"><a href="http://www.yangqq.com">杨青个人博客</a></div>
  <nav>
    <ul id="starlist">
      <li><a href="index.html">网站首页</a></li>
      <li><a href="about.html">关于我</a></li>
      <li><a href="list.html">博客日记</a></li>
      <li><a href="info.html">慢生活</a></li>
      <li><a href="time.html">时间轴</a></li>
      <li><a href="time.html">时间轴</a></li>
    </ul>
  </nav>
</header>
<div class="box">
  <div class="place" id="pageContents">

      <a href="/jstt/bj/" target="_blank" id="pagecurrent">心得笔记</a>

      <a href="/jstt/css3/" target="_blank">CSS3|Html5</a>

      <a href="/jstt/web/" target="_blank">网站建设</a>

      <a href="/news/jsex/" target="_blank">JS经典实例</a>

      <a href="/jstt/t/" target="_blank">推荐工具</a>
</div>
  <div class="blogs">
    <div class="bloglist">
      <h2><a href="#" title="程序员请放下你的技术情节，与你的同伴一起进步">程序员请放下你的技术情节，与你的同伴一起进步</a></h2>
      <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作</p>
    </div>
    <div class="bloglist">
      <h2><a href="#" title="个人博客，我为什么要用帝国cms？">个人博客，我为什么要用帝国cms？</a></h2>
      <p>选择帝国cms，做一个博客系统，很多人都说是大材小用。确实是有那种感觉，因为cms有很多功能表用不上。但是帝国cms的安装包也就才6M，如果你放一张高清的1920的图，都比这安装包大！我就来说一说我为什么要用帝国cms。</p>
    </div>
    <div class="bloglist">
      <h2><a href="#" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></h2>
      <p>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</p>
    </div>
    <div class="bloglist">
      <h2><a href="#" title="程序员请放下你的技术情节，与你的同伴一起进步">程序员请放下你的技术情节，与你的同伴一起进步</a></h2>
      <p>如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作</p>
    </div>
    <div class="bloglist">
      <h2><a href="#" title="个人博客，我为什么要用帝国cms？">个人博客，我为什么要用帝国cms？</a></h2>
      <p>选择帝国cms，做一个博客系统，很多人都说是大材小用。确实是有那种感觉，因为cms有很多功能表用不上。但是帝国cms的安装包也就才6M，如果你放一张高清的1920的图，都比这安装包大！我就来说一说我为什么要用帝国cms。</p>
    </div>
    <div class="bloglist">
      <h2><a href="#" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></h2>
      <p>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</p>
    </div>
    <div class="pagelist"><a title="Total record">&nbsp;<b>162</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>
  </div>
  <aside>
    <div class="ztbox">
      <ul>
        <li> <a href="#" title="个人博客模板 ( 38 )">个人博客模板 ( 38 )</a></li>
        <li> <a href="#" title="国外html5模板 ( 12 )">国外html5模板 ( 12 )</a></li>
        <li><a href="#" title="心得笔记 ( 51 )">心得笔记 ( 51 )</a></li>
        <li><a href="#" title="CSS3|Html5 ( 63 )">CSS3|Html5 ( 63 )</a></li>
        <li><a href="#" title="JS经典实例 ( 10 )">JS经典实例 ( 10 )</a></li>
      </ul>
    </div>
    <div class="paihang">
      <h2>点击排行</h2>
      <ul>
        <li><a href="#" target="_blank" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></li>
        <li><a href="#" target="_blank" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></li>
        <li><a href="#" target="_blank" title="Come on,行动起来吧!我们和时间来一场赛跑!">Come on,行动起来吧!我们和时间来一场赛跑!</a></li>
        <li><a href="#" target="_blank" title="或许换一个活法,能让你走出阴霾">或许换一个活法,能让你走出阴霾</a></li>
        <li><a href="#" target="_blank" title="即便是坑，我也想要拉你入伙！">即便是坑，我也想要拉你入伙！</a></li>
        <li><a href="#" target="_blank" title="女程序员职业生涯该如何发展？">女程序员职业生涯该如何发展？</a></li>
        <li><a href="#" target="_blank" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></li>
        <li><a href="#" target="_blank" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></li>
        <li><a href="#" target="_blank" title="女程序员职业生涯该如何发展？">女程序员职业生涯该如何发展？</a></li>
      </ul>
    </div>
    <div class="paihang">
      <h2>站长推荐</h2>
      <ul>
        <li><a href="#" target="_blank" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></li>
        <li><a href="#" target="_blank" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></li>
        <li><a href="#" target="_blank" title="Come on,行动起来吧!我们和时间来一场赛跑!">Come on,行动起来吧!我们和时间来一场赛跑!</a></li>
        <li><a href="#" target="_blank" title="或许换一个活法,能让你走出阴霾">或许换一个活法,能让你走出阴霾</a></li>
        <li><a href="#" target="_blank" title="即便是坑，我也想要拉你入伙！">即便是坑，我也想要拉你入伙！</a></li>
        <li><a href="#" target="_blank" title="女程序员职业生涯该如何发展？">女程序员职业生涯该如何发展？</a></li>
        <li><a href="#" target="_blank" title="个人博客，属于我的小世界！">个人博客，属于我的小世界！</a></li>
        <li><a href="#" target="_blank" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></li>
        <li><a href="#" target="_blank" title="女程序员职业生涯该如何发展？">女程序员职业生涯该如何发展？</a></li>
      </ul>
    </div>
    <div class="paihang">
      <h2>友情链接</h2>
      <ul>
        <li><a href="http://www.yangqq.com">杨青个人博客</a></li>
        <li><a href="http://www.yangqq.com">个人博客</a></li>
        <li><a href="http://www.yangqq.com">个人博客</a></li>
      </ul>
    </div>
  </aside>
</div>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> </p>
  <p>备案号：<a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>
